@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}
body, html {
font-family: 'Rajdhani', sans-serif !important;
overflow-x: hidden !important;
}
.top-header {
  background-color: #e1f5ff;
}
.top-header ul {
  padding: 6px 0;
  list-style: none;
  text-align: right;
  max-width: 1160px;
  margin: 0 auto;
}

.top-header ul li {
     display: inline-block;
    width: 30%;
    text-align: right;
}
a.mav-linksearchlink {
  color: #fff;
}
.top-header ul li a {
  color: #181818;
  font-size: 16px;
}
nav.navbar .navbar-brand {
  background-color: #fff;
  position: relative;
  min-width: 150px;
  padding: 10px;
}

nav.navbar {
  padding: 0;
}

nav.navbar .navbar-brand:before {
  content: "";
  background-color: white;
  width: 1000%;
  right: 0;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

nav.navbar .navbar-brand:after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  border-top: 0px solid transparent;
  border-bottom: 107px solid transparent;
  border-left: 41px solid white;
  right: -40px;
}

nav.navbar .navbar-brand img {
  max-width: 300px;
  position: relative;
}

nav.navbar {
  background-color: #2ea4e1 !important;
}
.main-header nav.navbar .nav-link {
  color: #fff;
  padding: 0 20px;
  font-size: 18px;
  position: relative;
  font-weight: 600;
}
.main-header nav.navbar .nav-link:hover:after,
.main-header nav.navbar .nav-link.active-menu:after {
  opacity: 1;
}
.main-header nav.navbar .nav-link:after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  height: 5px;
  width: 100%;
  background-color: #7ad2ff;
  opacity: 0;
}

.main-header nav.navbar .nav-link.active-menu {
 color: #fff!important;
    font-weight: bold;
}
.main-header nav.navbar .nav-link:hover{
   color: #fff!important;
   opacity: 0.8;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff !important;
}
.icon-section .col-md-3:hover img {
  transform: rotate(360deg);
  transition: 0.5s;
}
.footer-main {
  background-color: #1e1e1e;
  padding-top: 50px;
}
.copyrightsec {
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: #000;
  margin-top: 50px;
}
.footer-main p {
  color: #fff;
  font-size: 14px;
}

.footer-logo-sec img {
  max-width: 200px;
}

.footer-logo-sec {
  margin-bottom: 25px;
}
.footer-main h2 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}
.banner-section {
  position: relative;
  overflow: hidden;
  max-height: 600px;
}

.banner-section img {
  max-width: 100%;
  min-width: 100%;
}

.banner-section h1 {
  margin-bottom: 50px;
  color: #fff;
  max-width: 600px;
  font-size: 58px;
  font-weight: 900;
}
.footer-main p a {
    color: #fff;
}
.banner-content, .carousel-caption {
  position: absolute;
  top: 50%!important;
  left: 0!important;
  right: 0!important;
  margin: 0 auto!important;
  max-width: 1140px;
  transform: translate(0, -50%);
  padding: 0 15px;
  text-align: left !important;
  bottom: auto!important;
  padding: 0 15px !important;
      width: 90%;
}
.bannerslider {
    overflow: hidden;
    position: relative;
}

.bannerslider ul.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: table;
    padding: 0;
    text-align: center;
}

.bannerslider ul.slick-dots li {
    display: inline-block;
    margin: 5px;
}

.bannerslider ul.slick-dots li button {
    font-size: 0;
    border: 0;
    padding: 0;
    width: 10px;
    height: 5px;
    background-color: #bbbbbb;
    border-radius: 5px;
}

.bannerslider ul.slick-dots li.slick-active button {
    background-color: #2ea4e1;
    width: 30px;
}
.banner-section .btn.btn-light {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #173042;
  padding: 8px 25px;
}
.p-80 {
  padding: 80px 0;
}

.title-text h5 {
  color: #2ea4e1;
  font-weight: bold;
  font-size: 20px;
}

.title-text h2 {
  color: #323232;
      font-size: 52px;
  font-weight: 900;
  margin-bottom: 20px;
}
.serrvice-gray-setion h2{
    color: #fff;
      font-size: 52px;
  font-weight: 900;
}
.approch-section p {
  max-width: 760px;
  margin: 0 auto 30px;
  color: #797979;
  font-size: 18px;
}
.icon-section img {
  max-height: 50px;
  margin-bottom: 20px;
}

.icon-section p {
  margin: 20px;
}
img {
  max-width: 100%;
}
.staffing-section .title-text h2 {
  font-size: 42px;
  color: #323232;
}

p,
li {
  color: #6b6b6b;
  font-size: 18px;
}

.maxpsize {
  max-width: 400px;
  margin-bottom: 10px;
  padding: 0 20px;
}
.staffingpstyle {
  padding: 20px;
}
.staffingpstyle h3 {
  color: #323232;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  margin-top: 30px;
  margin-top: 0;
}
.main-header nav.navbar .nav-link.searchlink:before {
  content: "";
  width: 1px;
  height: 60px;
  position: absolute;
  background-color: #e1f5ff;
  left: 17px;
  top: -16px;
}
.tickli li {
  position: relative;
  padding-left: 50px;
  margin-bottom: 25px;
}
.tickli li:before {
  content: "";
  background-image: url(./assets/images/red-tic.png);
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  top: 8px;
  background-size: 22px;
}

.tickli ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container-practices {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 15px;
}
.staffing-section .title-text {
  position: relative;
  padding-right: 30px;
}
.pt-0 {
  padding-top: 0 !important;
}
.client-section {
  background-color: #2ea4e1;
  padding: 50px 0;
  background-image: url(./assets/images/client-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 400px;
  background-size: 60%;
}
.client-section button.btn.btn-light {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e1f5ff;
  border-radius: 0;
  font-size: 22px;
  padding: 20px 30px;
}
.client-section h2 {
      color: #fff;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}
.client-section button.btn.btn-light:hover {
  background-color: #aecad8;
}
.slick-slider .slick-slide {
  float: left;
}
.glogoslider-main {
  margin-left: 360px;
  overflow: hidden;
  margin-top: -50px;
}
.glogoslider-main .glogo-slider img {
  max-width: 100px;
  display: table;
  margin: 0 auto;
}
.glogoslider-main-section {
  position: relative;
  margin-bottom: 50px;
}

.glogoslider-main button.slick-arrow, .bannerslider button.slick-arrow {
  position: absolute;
  left: 110px;
  bottom: 0px;
  background-image: url(./assets/images/arrow-slick.png);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 0;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}
.bannerslider button.slick-arrow {
   background-image: url(./assets/images/arrow-slick-blue.png);
}
.glogoslider-main button.slick-arrow.slick-next, .bannerslider button.slick-arrow.slick-next {
  z-index: 999;
  left: 160px;
  transform: rotate(180deg);
}
.glogoslider-main .glogo-slider {
  padding: 5px;
  background-color: #fff;
}
.testimonial-slider {
  padding: 15px;
}
.glogoslider-main .slick-slider .slick-slide {
  padding: 5px;
}
.testi-auther span {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-color: #747474;
  border-radius: 50%;
  margin-right: 10px;
}
.bannerslider button.slick-arrow {
    left: 0;
    top: 50%;
    opacity: 0.6;
}

.bannerslider button.slick-arrow.slick-next {
    right: 0;
    left: auto;
    top: 50%;
    opacity: 0.6;
}

.bannerslider button.slick-arrow:hover {
    opacity: 0.9;
}
.testi-auther {
  color: #2ea4e1;
}
.testimonial-box {
  padding: 15px;
  background-color: #eff9ff;
  border-radius: 0 35px;
  min-height: 250px;
}

.testimonial-box p {
  font-size: 14px;
}
.testimonial-slider-main {
  overflow: hidden;
  position: relative;
}
.testimonial-slider-main ul.slick-dots {
  padding: 15px;
  margin: 0;
  text-align: right;
}

.testimonial-slider-main ul.slick-dots li {
  display: inline-block;
  margin: 5px;
}
.blog-row {
  margin-top: 40px;
}
.blog-box {
  padding: 20px;
}
.blogcontent {
  background-color: #f1faff;
  padding: 20px;
}

.blogdate {
  color: #747474;
  font-size: 12px;
}
.blog-autoer {
  display: flex;
  justify-content: space-between;
  background-color: #f1faff;
  padding: 10px 20px 0;
  color: #747474;
  font-size: 14px;
  border-top: 1px solid #2ea4e1;
  margin-top: 30px;
}
.blogcontent p {
  color: #6b6b6b;
  font-size: 16px;
  margin-bottom: 0;
}
.blogcontent h3 {
  color: #181818;
  font-size: 18px;
  margin: 15px 0px 5px;
}
.blogcontent p span {
  color: #2ea4e1;
}
.countno {
  color: #34a7dd;
  font-size: 46px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.main-header nav.navbar .nav-link.searchlink {
  padding: 0 0 0 50px;
  pointer-events: none;
  position: relative;
}
.searchlink.nav-item.dropdown .nav-link {
  padding: 0 10px;
}
.searchlink .dropdown-toggle::after {
  display: none;
}
.searchlink.nav-item.show.dropdown a.dropdown-item {
  padding: 0;
}

.searchlink.nav-item.show.dropdown .dropdown-menu.show {
  padding: 0;
}
.countno-mirrer {
  font-size: 56px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 1px #34a7dd;
  -webkit-text-fill-color: white;
  top: -40px;
  z-index: -1;
  opacity: 0.2;
}
.counterbox p {
  color: #181818;
  font-size: 18px;
}
.blogdate path {
  fill: #2ea4e1;
}
.testimonial-slider-main ul.slick-dots li button {
  border: 0;
  padding: 0;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e4e4e4;
}

.testimonial-slider-main ul.slick-dots li.slick-active button {
  background-color: #2ea4e1;
}
.staffing-section .title-text:after {
  content: "";
  height: 70%;
  width: 2px;
  background-color: #d4cdcd;
  position: absolute;
  top: 22px;
  right: 0;
}

.inner-page-banner {
  padding: 60px 0;
  background-position: center;
  background-size: cover;
  min-height: 325px;
  display: flex;
  align-items: center;
}

.banner-text {
  color: #fff;
}

.banner-text h1 {
  font-weight: 900;
  font-size: 56px;
}

.banner-text p {
  color: #fff;
}
.title-text.afternone:after {
  display: none;
}
.banner-text {
  max-width: 500px;
}
.banner-text h5:before {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #2ea4e1;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.jobs-loop-section {
  background-color: #f2f2f2;
  padding: 60px 0;
}
.jobs-loop-section {
  background-color: #f2f2f2;
  padding: 60px 0;
}

.jobs-box {
  width: 20%;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
.jobs-box-inner {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  min-height: 110px;
}
.jobs-box p {
  line-height: 1;
  font-size: 16px;
  margin: 0;
}
.jobs-box-inner svg {
  font-size: 28px;
  margin-bottom: 10px;
}

.jobs-box-selected {
  width: 20%;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
.jobs-box-inner-selected {
  padding: 20px;
  text-align: center;
  min-height: 110px;
  background-color: #2ea4e1;
  color: #fff;
}
.jobs-box-selected p {
  line-height: 1;
  font-size: 16px;
  margin: 0;
  color: #fff;
}
.jobs-box-inner-selected svg {
  font-size: 28px;
  margin-bottom: 10px;
}

.jobpostbox {
  background-color: #f7f7f7;
  padding: 30px;
  margin: 20px 0;
}

.jobpostbox h2 {
  font-weight: bold;
  font-size: 22px;
  color: #181818;
  margin-bottom: 10px;
}

.jobpostbox p {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.jobpostbox .btn.btn-light,
.jobtitle-box .btn.btn-light {
  background-color: #2ea4e1;
  color: #fff;
  min-width: 140px;
}
.jobpostbox .btn.btn-light:hover,
.jobtitle-box .btn.btn-light:hover {
  background-color: #1e1e1e;
}
.jobspost-loop-section {
  padding: 60px 0;
}
.viewallbtn {
  margin: 20px 0;
  text-align: center;
}
.jobtitle-box .btn.btn-light {
  padding: 15px 25px;
  font-size: 22px;
  margin-top: 10px;
}
.jobdetailbluebox:hover {
  background-color: #67c7f9;
  transition: 0.5s;
  transform: scale(1.1);
}
.jobdetailbluebox {
  transition: 0.5s;
  background-color: #2ea4e1;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 160px;
  margin-bottom: 100px;
}
.jobs-box-inner:hover {
  background-color: #2ea4e1;
  color: #fff;
}

.jobs-box-inner:hover p {
  color: #fff;
}
.jobdetailbluebox-inner h5 {
  font-size: 24px;
}

.jobs-box-inner-selected {
  color: #fff;
}

.jobs-box-inner-selected p {
  background-color: #2ea4e1;
  color: #fff;
}

.jobdetailbluebox-inner p {
  color: #fff;
  line-height: 1.2;
  font-size: 16px;
}
.job-details-boxes {
  position: relative;
}
p.blogdatedetail {
  margin-top: 50px;
}

.jobdetailscontent h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 25px;
}

.jobdetailscontent p {
  margin-bottom: 20px;
}

.jobdetailscontent h5 {
  font-weight: bold;
  margin: 20px 0;
}
.job-details-boxes:before {
  background-color: #eaf8ff;
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  top: -130px;
  z-index: -1;
}
.jobappform h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

.jobappform input {
  border-radius: 0;
  margin-bottom: 30px;
}
.buttonsection button {
  margin: 5px;
  border: 0;
  background-color: #2ea4e1;
  color: #fff;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  min-width: 130px;
}

.buttonsection button:hover {
  background-color: #333;
}
.buttonsection {
  text-align: center;
}
.viewallbtn button.btn.btn-light {
  background-color: #181818;
  color: #fff;
  font-size: 22px;
  min-width: 230px;
  padding: 15px;
}
.jobtitle-box {
  background-color: #fff;
  margin-top: -50px;
  padding: 25px 50px;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 28%);
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.jobtitle-box h2 {
  font-weight: bold;
}

.jobtitle-box h5 {
  font-size: 22px;
  color: #797979;
}
.viewallbtn button.btn.btn-light:hover {
  background-color: #2ea4e1;
}
.blog-row.blogsection.row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.aboutuser img {
  margin-bottom: 30px;
}
.contactbox h2, .contact-secsecond.row h2 {
  font-weight: bold;
  font-size: 26px;
}

.contactbox {
  margin-bottom: 40px;
  margin-top: 40px;
}
.teambox {
    border-bottom: 2px solid #2ea4e1;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 15%);
        margin-bottom: 20px;
}

.teambox h5 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}
.contactbox svg {
  color: #000;
  margin-right: 10px;
}
.contact-secsecond.row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-secsecond.row iframe {
  border: 0;
  width: 100%;
}

.submitbuttonform {
  border-radius: 0;
  background-color: #2ea4e1 !important;
  border-color: #2ea4e1 !important;
  min-width: 150px;
  padding: 12px !important;
  font-size: 18px !important;
  margin-bottom: 50px;
}

.submitbuttonform:hover {
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.blue-box {
  background-color: #2ea4e1;
  color: #fff;
  text-align: right;
  padding: 30px 50px;
  font-size: 26px;
}

.blue-box span.phno {
  padding-left: 40px;
  font-size: 36px;
  font-weight: bold;
  vertical-align: middle;
}
.services-box {
  background-color: #eff9ff;
  min-height: 200px;
  position: relative;
  display: inline-block;
  width: calc(20% - 30px);
  margin: 10px 15px;
      padding-bottom: 60px;
}
.services-box svg {
  background-color: #fff;
  padding: 3px;
  display: block;
  color: #2ea4e1;
      position: absolute;
    left: 0;
    top: 0;
}
.servicename {
  background-color: #2ea4e1;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  padding: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serrvice-gray-setion {
  background-color: #2ea4e1;
  margin-top: 50px;
  text-align: center;
}
.serrvice-gray-setion .glogoslider-main-section {
  margin: 0;
  padding: 0 50px;
}
.serrvice-gray-setion .glogoslider-main-section .glogoslider-main {
  margin: 0;
}
.serrvice-gray-setion
  .glogoslider-main-section
  .glogoslider-main
  button.slick-arrow.slick-next {
  right: 0px;
  left: auto;
  top: 30px;
  z-index: 9;
}
.serrvice-gray-setion
  .glogoslider-main-section
  .glogoslider-main
  button.slick-arrow.slick-prev {
  left: 0;
  top: 30px;
  z-index: 9;
}
.serrvice-gray-setion img {
  padding: 10px;
  max-width: 150px;
}
.modal-main {
  width: 90% !important;
  max-width: 650px;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex-basis: auto !important;
    flex-grow: 0;
  }
}
@media (max-width: 1024px) {
  .jobs-box {
    width: 25%;
  }
  .top-header ul li {
    display: inline-block;
    width: 26%;
  }
  .banner-section h1 {
    font-size: 43px;
    max-width: 400px;
    font-weight: 900;
  }
  .glogoslider-main {
    margin-top: -70px;
  }
}

@media (max-width: 992px) {
  .main-header nav.navbar .nav-link:after {
    bottom: 0;
  }
  nav.navbar .navbar-brand img {
    max-width: 180px;
  }
  .jobs-box {
    width: 33.3%;
  }
  .services-box {
    width: calc(33.33% - 30px);
  }
  nav.navbar .navbar-brand:before {
    top: 0;
    height: 100%;
  }
  .inner-page-banner {
    padding: 50px 0;
  }
  nav.navbar .navbar-brand:after {
    top: 0;
    border-bottom: 73px solid transparent;
  }
  .mr-auto.navbar-nav {
    margin-top: 10px;
  }
  .mr-auto.navbar-nav a {
    border-bottom: 1px solid #53b5e8;
    padding: 10px !important;
  }
  .main-header nav.navbar .nav-link.searchlink {
    display: none;
  }
  button.navbar-toggler {
    background-color: white;
    border: 1px solid #2ea4e1;
    margin-right: 15px;
  }
  .glogoslider-main {
    margin-top: -60px;
  }
}
@media (max-width: 767px) {
  .staffing-section img {
    margin-bottom: 20px;
}
  .bannerslider button.slick-arrow {
    width: 25px;
    height: 25px;
    background-size: 12px;
}
  .top-header ul li:nth-child(2) {
    display: none;
}
  .services-box {
    width: calc(100% - 30px);
  }
  .jobdetailbluebox {
    margin-bottom: 20px;
  }
  .blue-box span.phno {
    display: block;
  }
  .blue-box {
    text-align: center;
  }
  .jobs-box {
    width: 100%;
  }
  .top-header ul li {
   width: 50%;
    text-align: center;
  }

  .top-header ul li a {
        font-size: 16px;
  }
  .banner-section h1 {
    font-size: 24px;
    margin: 0 0 20px;
  }
  .banner-section .btn.btn-light {
        font-size: 12px;
    padding: 7px;
  }
  .serrvice-gray-setion h2 {
    font-size: 26px;

}
  .title-text h2 {
    font-size: 24px;
  }
  .p-80 {
    padding: 40px 0;
  }
  .staffing-section .title-text h2 {
    font-size: 32px;
    color: #323232;
  }
  .maxpsize {
    margin-top: 20px;
  }
  .staffingpstyle h3 {
    font-size: 20px;
  }
  .glogoslider-main {
    margin: 0;
  }
  .glogoslider-main button.slick-arrow.slick-next {
    left: 50px;
  }
  .glogoslider-main button.slick-arrow {
    bottom: -60px;
    left: 0;
  }
  .staffing-section .title-text {
    text-align: center !important;
    padding: 0;
  }
  .staffing-section .title-text:after {
    display: none;
  }
  .footer-main {
    text-align: center;
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
